@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bage-yellow {
  @apply bg-opacity-20 text-[#DD9E10] text-[13px]  mr-2 px-2.5 py-[5px] rounded bg-[#DD9E10];
}
.bage-info {
  @apply bg-opacity-20 text-[#11A0DB] text-[13px]  mr-2 px-2.5 py-[5px] rounded bg-[#11A0DB];
}
.bage-purple {
  @apply bg-opacity-20 text-[#874C72] text-[13px]  mr-2 px-2.5 py-[5px] rounded bg-[#874C72];
}

.css-b62m3t-container {
  border: none;
  outline: none;
}

.css-b62m3t-container:focus-visible {
  border: none;
  outline: none;
}
.select__control .css-1s2u09g-control {
  border: none;
  outline: none;
}

.select__control,
.select__control--is-focused,
.select__control--menu-is-open,
.css-1pahdxg-control {
  border: none;
  outline: none;
  box-shadow: none;
}

.select__control:focus,
.select__control--is-focused:focus,
.select__control--menu-is-open:focus,
.css-1pahdxg-control:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 8px;
  border: 4px solid #f5f6f8;
  border-radius: 50%;
  animation: lds-ring 2s linear infinite;
  border-color: #0095a0 #0095a0 #f5f6f8;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
